* {
    margin-bottom: 0;
    padding: 0;
}

.header{
    background:#00c851;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 40px;
    align-items: center;
}

body{
    background-color:#ffffff;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    margin-top: 0px;
    margin-left: 0px;
}

h1{
    margin-top: 35px;
    margin-left: 23px;  
}

h2{
    margin-left: 23px;
}

p{
    margin-left: 23px;
    margin-bottom: 20px;
}


a{
    text-decoration: none;
    color: white;
}

.lt{
    margin-left: 43px;
}

ol,ul{
    margin-top: 17px;
    margin-right: 10px;
    margin-bottom: 30px;
}

/* MENU */

#menu-icon {
    position: absolute;
    top: 33px;
    margin-right: 33px;
    right: 0;
    cursor: pointer;
}

.menu-amostra {
    background:#00c851 repeat scroll 0% 0%;
    width: 185px;
    height: 330px;
    position: absolute;
    top: 110px;
    right: 100%;
    transition: left 0.5s ease 0s;
    overflow: hidden;
}

.menu-amostra li {
    color: white;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
    list-style-type: none;
}
.menu-amostra ul {
    position: absolute;
    top: 31px;
}