*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    font-family: 'poppins', sans-serif;
    background: url(ImagemHome/fundao.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.input{
        font-family: 'poppins', sans-serif;
}

.conteiner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    overflow: hidden;

}

.forms-container{
    position: absolute ;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
}

.title{
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
}

.titleTwo{
    color: #444;
    margin-bottom: 10px;

}

.input-field{
    max-width: 300px;
    width: 100%;
    height: 55px;
    background-color: #dcdcdc;
    margin: 10px 0;
    border-radius: 55px ;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 .4rem;
}

.input-field i{
    text-align: center;
    line-height: 55px;
    color: #acacac;
    font-size: 1.1rem;
}

.input-field input{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
}

.input-field input::placeholder{
    color: #aaa;
    font-weight: 500;
}